<%- include('../layouts/header.ejs') -%>
<div class="container">
    <h1>Admin Dashboard</h1>
    <div class="d-flex justify-content-end mb-3">
        <form class="d-flex me-2" action="/admin/search" method="POST">
            <input class="form-control me-2" type="text" name="search" placeholder="Search users"  aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <a href="/admin/adminlogout" class="btn btn-secondary">Logout</a> 
    </div>

    <form>
        <a href="/admin/createUser">  
            <button type="button" class="btn btn-primary">Create User</button>
        </a>
    </form>
    
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    
                    <a href="/admin/edit/<%= user._id %>" class="btn btn-primary">Edit</a>
                    <form action="/admin/delete/<%= user._id %>" method="POST" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>



<%- include('../layouts/footer.ejs') -%>